.icon {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100%;
  outline-width: 2px;
  outline-style: solid;
  padding: 0.5rem;
}

.bug {
  background: #92bc2c;
  box-shadow: 0 0 20px #92bc2c;
}

.dark {
  background: #595761;
  box-shadow: 0 0 20px #595761;
}

.dragon {
  background: #0c69c8;
  box-shadow: 0 0 20px #0c69c8;
}

.electric {
  background: #f2d94e;
  box-shadow: 0 0 20px #f2d94e;
}

.fire {
  background: #fba54c;
  box-shadow: 0 0 20px #fba54c;
}

.fairy {
  background: #ee90e6;
  box-shadow: 0 0 20px #ee90e6;
}

.fighting {
  background: #d3425f;
  box-shadow: 0 0 20px #d3425f;
}

.flying {
  background: #a1bbec;
  box-shadow: 0 0 20px #a1bbec;
}

.ghost {
  background: #5f6dbc;
  box-shadow: 0 0 20px #5f6dbc;
}

.grass {
  background: #5fbd58 !important;
  box-shadow: 0 0 20px #5fbd58 !important;
}

.ground {
  background: #da7c4d;
  box-shadow: 0 0 20px #da7c4d;
}

.ice {
  background: #75d0c1;
  box-shadow: 0 0 20px #75d0c1;
}

.normal {
  background: #a0a29f;
  box-shadow: 0 0 20px #a0a29f;
}

.poison {
  background: #b763cf;
  box-shadow: 0 0 20px #b763cf;
}

.psychic {
  background: #fa8581;
  box-shadow: 0 0 20px #fa8581;
}

.rock {
  background: #c9bb8a;
  box-shadow: 0 0 20px #c9bb8a;
}

.steel {
  background: #5695a3;
  box-shadow: 0 0 20px #5695a3;
}

.water {
  background: #539ddf;
  box-shadow: 0 0 20px #539ddf;
}

.hp {
  background: red;
  outline: 2px solid red;
  filter: drop-shadow(0 0 0.5rem #00000075);
  box-shadow: 0 0 0.125rem black inset;
}

.attack {
  background: radial-gradient(orange, red, purple);
  fill: red;
  outline: 2px solid red;
  box-shadow: 0 0 0.125rem black inset;
}

.defense {
  background-color: blue;
  outline: 2px solid blue;
  box-shadow: 0 0 0.125rem black inset;
}

.special-attack {
  background: radial-gradient(orange, red, purple);
  fill: red;
  outline: 2px solid red;
  box-shadow: 0 0 0.125rem black inset;
}

.special-defense {
  background: blue;
  outline: 2px solid blue;
  box-shadow: 0 0 0.125rem black inset;
}

.speed {
  background: radial-gradient(hsl(60, 100%, 20%), hsl(60, 100%, 30%), hsl(60, 100%, 50%));
  outline: 2px solid hsl(60, 100%, 50%);
  box-shadow: 0 0 0.125rem black inset;
}

.rock-ground {
  background: linear-gradient(315deg, #c8b888, #da7c4d 55%, #c8b888);
}
