.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.search-container {
  display: flex;

  // * hides the Mui notch
  legend {
    display: none !important;
  }

  input[type="text"] {
    border: none;
    border-radius: 1rem 0 0 1rem;
  }

  input[type="text"],
  button[type="submit"] {
    width: 3rem;
    border: none;
    border-radius: 0 1rem 1rem 0;
    background: white;
    cursor: pointer;
    padding: 0.25rem 0.5rem;

    &:hover {
      background: rgba(255 255 255 / 0.8);
    }

    &:active {
      svg {
        width: 1rem;
        transition: 250ms ease;
      }
    }
  }
}

.MuiFormLabel-root {
  background-color: white;
  border-radius: 1rem;
}

.MuiInputLabel-shrink {
  border: 2px solid #1976d2;
  padding: 0.25rem !important;
}

.MuiAutocomplete-inputRoot {
  // border-radius: 10rem 0 0 10rem !important; // left side pill
  border-end-end-radius: 0 !important;
  border-start-end-radius: 0 !important;
  background-color: white;
  border: none !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  // border: none !important;
  border: none !important;
  outline: none;
  height: auto !important;
  top: 0 !important;

  &:hover {
    border: none !important;
  }
}

.MuiAutocomplete-root:focus {
  border: 1px solid red;
}

.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
  letter-spacing: normal !important;
  line-height: normal !important;
}

.MuiInputBase-root {
  &:focus-within {
    outline: 2px solid #1976d2 !important;
  }
}

div[role="presentation"] {
  border: 2px solid #1976d2;
  border-radius: 0.5rem;
}
